@tailwind base;
@tailwind components;
@tailwind utilities;

.custom-scrollbar::-webkit-scrollbar {
  width: 0px;
  background: transparent;
}

.custom-scrollbar {
  -ms-overflow-style: none;
  scrollbar-width: none;
}
.ant-upload-list.ant-upload-list-text {
  margin-bottom: -10px;
}
